section{
    background-color: lightgray;
    width: 90%;
    min-height: 90%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
select, input{
    border: 1px white;
    margin-top: 5px;
}

div{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
select{
    height: 35px;
    color: white;
    text-align: center;
}
option{
    text-align: center;
    text-decoration: underline;
}
input.submit{
    background-color: white;
    height: 50px;
    border-radius: 15px;
    border: 3px solid orange;
}
.last{
    margin-top: 10px;
}
textarea{
    width: 300px;
}