<section>
  <!-- car or home -->
  <div class="query">
    <label for="category">Select your purchase category: </label>
    <select name="category">
        <option value="Car">Car-care</option>
        <option value="Home">Home-care</option>
    </select>
  </div>
  <!-- Car Options-->
  <div class="query">
      <label for="carOption">Car pruchase Option </label>
      <select name="carOption">
          <option value="Car">Car-care</option>
          <option value="Home">Home-care</option>
      </select>
  </div>  
  <!-- Home Options -->
  <div class="query">
      <label for="homeOption">Select your purchase category: </label>
      <select name="homeOption">
          <option value="Car">Car-care</option>
          <option value="Home">Home-care</option>
      </select>
  </div>
</section>