<section>
    <div>
        Goodbye phone call,<br>
        goodbye drive to,<br>
        hello app!
    </div>
    <img id="mainImg" alt="Sample image" src="{{mainImg}}">
    <span>For all of your fuel, gas and maintaince services 
      from home or... from anywhere!</span>
    <div id="bottomControl">
    <button type="button" class="btn btn-info" (click)="loginBtnClick()">Login</button>
    <button type="button" class="btn btn-warning" (click)="learnBtnClick()">Learn more!</button>
    </div>
</section>