*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
}

section{
    width:90%;
    min-height: 90%;
    background-color: lightgray;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
/* Emergency Service Section */

#activeTitle{
    margin: 0; 
    margin-top: 10px;
    padding: 0;
    font-size: 20px;
    padding: 5px;

    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 20px;
}
@keyframes colorChange {
    from {background-color: rgba(236,62,71,1);}
    to {background-color: rgba(236,62,71,0);}
}
div.emergencyServices{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin: 0px 0 10px 0;
}

div.emergencyServices button{
    width: 200px;
    height: 80px;
}

/* Profile Section */
.profileInfo{
    width: 80%;
    text-align: center;
    background-color: white;
    padding: 20px 0 20px 0;
    justify-content: center;

}
.profileInfo>ul{
    margin:0; padding: 0;
    list-style: none;
}
ul{
    font-size: 15px;
    padding: 1px;
    font-weight: 100;
    margin-bottom: 3px;
}
span{
    font-weight: 900;
    color: darkblue;
}

/* New Order Section */
.purchase *{
    margin-top: 10px;
    height: 100px;
    width: 200px;
}


.listBtn{
    margin-top: 5px;
    padding: 2px 4px 2px 4px;
    width: 300px;
    text-align: center;
    border: 2px solid darkblue;
    cursor: pointer;
    border-radius: 10px;
}
#orderGroup{
    margin-top:20px;
}
#orderGroup H2{
    font-size: 20px;
}

.progress{
    width: 80%;
    background-color: white;
    display: flex;
    align-items: flex-start;

}
