<section>
  <div class="profileInfo">
    <h2> Welcome {{username}} to your profile </h2>
    <div class="id">
        <ul>
            <li>User Name:  {{username}}</li>
            <li>Email: {{email}}</li>
            <li>Address: {{email}}</li>
            <li><img src="{{photoURL}}" alt="Profile Pic" width="150"></li>
        </ul>
    </div>
  </div>

  <div class="purchase">
      <button type="button" class="btn btn-success" (click)="purchase()">Schedule refill or service</button>
  </div>

  <div class="emergencyServices">
    <button type="button" class="btn btn-warning" (click)="reportRoadAssitance()">Roadside assitance</button>
    <button type="button" class="btn btn-danger" (click)="reportLeak()">Rerport an emergency</button>
  </div>

  <div class="orders">
    <h2> Active Orders</h2>
      <button type="button" class="orderList list-group-item list-group-item-action" *ngFor="let order of orders"><span>Order: {{order.operation}} {{order.serviceChoice}}</span></button>
  </div>

</section>

