/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: apercu-pro;
    src: url(./assets/all/apercuRegularPro.otf);
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: apercu-pro, "apercu-pro", sans-serif !important;
}
